//----------------------------------------------------
//- Base: Config
//----------------------------------------------------

-
  var site = {
    title : "Qrac GitHub",
    desc : "Make Suda that responds to the voice and motion.",
    body : [ "adventar2017-suda-puppet" ],
    url : "https://qrac.github.io/adventar2017-suda-puppet"
  }

-
  var pages = {
    index : {
      title : "Adventar2017 Suda Puppet",
      desc : "Make Suda that responds to the voice and motion.",
      body : [ "adventar2017-suda-puppet-index" ],
      agent : "rwd",
      url : "index.html",
      ogp : "ogp.png",
      login : "no"
    }
  }

-
  var path = {
    img : "asset/img",
    mov : "asset/mov",
    font : "asset/font",
    css : "asset/css",
    js : "asset/js",
    lib : "lib",
    dist : "dist"
  }

-
  var twitter = {
    id : "Qrac_JP",
    id_mainoko : "CreamyMainoko",
    url : "https://twitter.com"
  }

-
  var github = {
    id : "qrac",
    repo : "adventar2017-suda-puppet",
    ver : "v0.0.0",
    license : "MIT",
    url : "https://github.com"
  }