//----------------------------------------------------
// Variable: Customize
//----------------------------------------------------

$pjcolor-01: rgba(22, 116, 183, 1);
$pjcolor-02: rgba(237, 239, 242, 1);
$pjcolor-03: rgba(255, 255, 255, 1);
$pjcolor-04: #F9F921;
$pjcolor-05: rgba(27, 71, 107, 1);