//----------------------------------------------------
// Module: Button
//----------------------------------------------------

.btn.is-video-btn {
  position: relative;
  //border-radius: 1.25em 0 0 1.25em;
  box-shadow: 0 2px 20px $light-3;
  @include tablet {
    font-size: 120%;
  }
  @include desktop {
    font-size: 140%;
  }
  @include wide {
    font-size: 150%;
  }
  > .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
  }
  > .fas.fa-pause {
    transform: translate(-50%, -50%);
  }
  > .fas.fa-play {
    transform: translate(-36%, -50%);
  }
}

.trick {
  display: none;
}

.trick.is-video-btn-trick:not(:checked) + .btns > .btn.is-video-btn {
  //background-color: $yellow-500;
}

.trick.is-video-btn-trick:not(:checked) + .btns > .btn.is-video-btn > .fas.fa-play {
  display: none;
}

.trick.is-video-btn-trick:checked + .btns > .btn.is-video-btn {
  //background-color: $green-500;
}

.trick.is-video-btn-trick:checked + .btns > .btn.is-video-btn > .fas.fa-pause {
  display: none;
}